@font-face {
    font-family: "Faune";
    font-weight: 500;
    src: url(faune-regular.woff2),
        url(faune-regular.woff);
}

body {
    font-family: "Faune";
    font-weight: 500;
    line-height: 1.25;
    font-size: 18px;
    background-color: #1F2448;
    color: #F8F8F8;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: #F8F8F8;
    transition: 0.2s;
}

a:hover {
    color: #FF47F8;
}


button {
    border: none;
    outline: none;
    font-family: "Faune";
    font-size: 24px;
    padding: 8px 40px;
    border-radius: 15px;
    color: #F8F8F8;
    background-color: #FF47F8;
}

button:hover {
    color: #1F2448;
    background-color: #DEF100;
    box-shadow: 5px 7px #FF47F8;
    transition: 0.25s;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F2448;
    z-index: 2;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 195px;
}

header nav {
    display: flex;
}

.container {
    margin: 0 16px;
}

.container a {
    padding: 0 18px;
}

nav img.bag {
    width: 17px;
    padding: 0 8px;
}


.hero {
    background-image: url("the-creative-exchange-pAnjPqQP0UQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 275px 0 200px 0;
    text-align: center;
}

.hero h2 {
    max-width: 700px;
    padding: 0 24px;
    margin: 0 auto 40px auto;
}


h1 {
    font-size: 72px;
    line-height: 1.25;
    color: #DEF100;
}

h2 {
    color: #1F2448;
    font-size: 48px;
    line-height: 1.5;
}

h3 {
    color: #F8F8F8;
    font-size: 24px;
    line-height: 1.25;
}



.products h1 {
    margin: 50px 0 64px 0;
    text-align: center;
    display: block;
}

.products .wrapper h3 {
    color: #DEF100;
}

.products .wrapper {
    min-width: 1132px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.products div.product {
    padding: 25px 50px 75px 50px;
}

.products div.product img {
    width: 325px;
    height: 350px;
}

.products span {
    display: block;
    margin: 10px auto;
    text-align: center;

}


.about {
    margin: 150px 0 100px 0;
    position: relative;
}

.about h2 {
    color: #F8F8F8;
}

.about .blurb {
    display: block;
    max-width: 825px;
    text-align: center;
    margin: 0 auto;
}


.about .blob {
    width: 245px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(-12%, -25%);
}

.about .squiggle {
    text-align: center;
}

.about .egg-right {
    width: 200px;
    position: absolute;
    top: 12%;
    right: 0;
}

.contact {
    position: relative;
    margin: 200px 0 124px 0;
}

.contact .egg-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(70%, -65%);
}

.contact .email {
    display: block;
    max-width: 825px;
    text-align: center;
    margin: 0 auto;
} 

.contact .blob-right {
    position: absolute;
    top: 0;
    right: 0;
    transform:translate(-75%, 15%);
}


footer {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 32px 24px 24px 24px;
    padding-top: 200px;
}

footer .logo {
    display: block;
    width: 195px;
    padding: 25px 150px 0 0;
}

footer .socials {
    display: block;
    width: 225px;
}

footer .socials img {
    padding: 0 10px;
}




